.brand-dashboard {
  .brand-top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    border-radius: 10px;

    h1 {
      font-size: 24px;
      margin: 0;
    }
    .brand-add {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .delete {
        background-color: #ff6666;
      }
      .add {
        background-color: #43eb5c;
      }
      .delete,
      .add {
        color: #fff;
        border: none;
        padding: 14px 19px;
        border-radius: 5px;
        margin: 0 8px;
        cursor: pointer;
        display: flex;
        align-items: center;

        svg {
          margin-right: 8px;
        }

        .text-delete,
        .text-add {
          font-size: 14px;
        }
      }
    }

    .brands-filter {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .brand-filter {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;

        .input-search {
          &:focus {
            outline: none;
          }
          border-radius: 5px;
          border: none;
          margin-right: 10px;
          padding: 15px;
          width: 300px;
        }

        .filter-reset {
          display: flex;

          .filter-btn {
            background-color: #366fd2;
            color: #fff;
            border: none;
            padding: 12px 25px;
            margin-left: 10px;
            border-radius: 5px;
            cursor: pointer;
          }
          .reset-btn {
            background-color: #4caf50;
            color: #fff;
            border: none;
            padding: 12px 25px;
            margin-left: 10px;
            border-radius: 5px;
            cursor: pointer;
          }
        }
      }
      .delete-add {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .delete {
          background-color: #ff6666;
        }
        .add {
          background-color: #43eb5c;
        }
        .delete,
        .add {
          color: #fff;
          border: none;
          padding: 14px 19px;
          border-radius: 5px;
          margin: 0 8px;
          cursor: pointer;
          display: flex;
          align-items: center;

          svg {
            margin-right: 8px;
          }

          .text-delete,
          .text-add {
            font-size: 14px;
          }
        }
      }
    }
  }
}
