$primary-color: #fff;
$secondary-color: #202020;
.services {
  background-color: $secondary-color;
  .container {
    padding: 0 80px;
    .items {
      padding-top: 25px;
      padding-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $secondary-color;
      .item {
        width: 33%;
        padding: 0 10px;
        margin-bottom: 40px;
        text-align: center;

        .icon {
          color: $primary-color;
          font-size: 28px;
          margin-bottom: 10px;
        }
        h4 {
          font-size: 15px;
          font-weight: 700;
          letter-spacing: 0.5px;
          text-transform: uppercase;
          color: $primary-color;
          margin: 5px 0 6px;
        }
        p {
          font-size: 14px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0.5px;
          color: $primary-color;
          font-family: Arimo, sans-serif;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .services {
    .container {
      .items {
        display: flex;
        flex-direction: column;
        .item {
          width: 80vw;
        }
      }
    }
  }
}
