.product-card {
  display: flex;
  .container {
    &:hover {
      .product-image {
        overflow: hidden;

        img {
          transform: scale(1.1);
        }
      }
    }
    position: relative;
    width: 300px;
    cursor: pointer;
    margin-bottom: 20px;
    overflow: hidden;
    .product-image {
      background-color: #fff;
      img {
        object-fit: fill;
        height: 380px;
        width: 300px;
        transition: transform 0.3s ease;
      }
    }
    .product-action {
      display: block;
      &:hover {
        background-color: #26c6d0;
        .eye {
          color: #fff;
        }
      }
      position: absolute;
      right: 20px;
      top: 20px;
      background-color: #ebebeb;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      border-radius: 50px;
      color: #444;
      cursor: pointer;
      font-size: 18px;
    }
    .product-heart {
      position: absolute;
      cursor: pointer;
      top: 74px;
      right: 19px;
      background-color: #ebebeb;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      border-radius: 50px;
      color: #444;
      cursor: pointer;
      font-size: 18px;
    }
    .product-item-content {
      background-color: #fff;
      padding: 17px 20px 26px;
      margin-top: -4px;
      h4 {
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 0.2px;
        color: #454545;
      }
      .product-price-cart {
        display: flex;
        justify-content: space-between;
        .rating-price {
          .product-rating {
            .icon-star {
              font-size: 16px;
              margin: 5px 3px 10px;
              color: #666;
            }
          }
          .price {
            .money {
              color: #454545;
              font-size: 16px;
              font-weight: 700;
              display: inline-block;
            }
          }
        }
        .product-cart {
          &:hover {
            background-color: #26c6d0;
            .cart-icon {
              color: #fff;
            }
          }
          background-color: #ebebeb;
          border-radius: 50px;
          color: #444;
          display: inline-block;
          font-size: 18px;
          height: 40px;
          margin-top: 21px;
          text-align: center;
          width: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 0.3s ease-out 0s;
          cursor: pointer;

          .cart-icon {
            line-height: 40px;
            color: #444;
            font-size: 18px;
          }
        }
      }
    }
  }
}
