.navbar {
  background: #202020;
  padding: 15px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  .container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .navigation {
      ul {
        display: flex;
        align-items: center;
        justify-content: center;
        li {
          font-weight: 500;
          letter-spacing: 0.5px;
          text-transform: uppercase;
          color: #fff;
          padding-right: 25px;
          list-style: none;
          color: white;
        }
      }
    }
    .search {
      margin-top: 3px;
      form {
        position: relative;
        .input-text {
          background: transparent none repeat scroll 0 0;
          border-color: #666;
          border-image: none;
          border-style: none none solid;
          border-width: medium medium 1px;
          box-shadow: none;
          color: #ddd;
          font-size: 13px;
          height: 35px;
          padding-left: 0;
          padding-right: 30px;
          width: 220px;
        }
        .search-btn {
          background-color: transparent;
          border: medium none;
          font-size: 21px;
          position: absolute;
          right: 4px;
          top: 4px;
          cursor: pointer;

          .search-icon {
            font-size: 21px;
            cursor: pointer;
            color: #ddd;
          }
        }
      }
    }
  }
}
