.checkout {
  .checkout-header {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgb(222, 221, 221);
    .checkout-header-container {
      width: 80vw;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 70px;
      h1 {
        line-height: 1.2;

        .logo {
          text-decoration: none;
          color: black;
          font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
            Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
            sans-serif;
          font-weight: 500;
          font-size: 30px;
        }
      }
      .basket-link {
        .icon-basket {
          .icon {
            font-size: 26px;
            color: #1f8dd6;
          }
        }
      }
    }
  }
  .wrapper-checkout {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    .order-total-empty {
      width: 30vw;
      background-color: #fff;
      border: 1px solid #eaeaea;
      margin-top: 50px;
      padding: 40px;
      h5 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        font-weight: 600;
        letter-spacing: 0.2px;
        margin-bottom: 39px;
      }
      .text {
        &:hover {
          color: #fff;
          background-color: #26c6d0;
        }
        padding: 14px 20px 15px;
        border-radius: 5px;
        color: #454545;
        cursor: pointer;
        font-size: 14px;
        letter-spacing: 0.2px;
        line-height: 1;
        margin: 5px 0 0;
        text-transform: uppercase;
        background-color: #d8d8d8;
        transition: all 0.3s ease 0s;
        text-decoration: none;
      }
    }
    .checkout-container {
      .checkout-content {
        display: flex;
        justify-content: space-between;
        width: 80vw;
        .left {
          .left-container {
            .heading-delivery {
              line-height: 1.2;
              color: rgb(0, 0, 0);
              font-size: 1.4rem;
              font-family: system-ui, -apple-system, BlinkMacSystemFont,
                "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
                "Helvetica Neue", sans-serif;
              font-weight: 700;
              margin-bottom: 15px;
            }
            form {
              display: flex;
              flex-direction: column;
              gap: 15px;
              margin-bottom: 50px;
              .region-input {
                &:focus {
                  outline: none;
                }
                width: 33vw;
                padding: 14px;
                border: 1px solid rgb(199, 197, 197);
                border-radius: 5px;
              }
              .user-inputs {
                display: flex;
                gap: 15px;
                input {
                  &:focus {
                    outline: none;
                  }
                  width: 16vw;
                  padding: 14px;
                  border: 1px solid rgb(199, 197, 197);
                  border-radius: 5px;
                }
              }
              .address-input {
                &:focus {
                  outline: none;
                }
                width: 33vw;
                padding: 14px;
                border: 1px solid rgb(199, 197, 197);
                border-radius: 5px;
              }
            }
            .payment {
              .heading {
                line-height: 1.2;
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
                  Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
                  "Segoe UI Emoji", "Segoe UI Symbol";
                font-weight: 600;
                font-size: 1.4rem;
                letter-spacing: normal;
              }
              .text {
                font-size: 14px;
                color: rgba(0, 0, 0, 0.56);
                margin: 15px 0px;
              }
              .cash {
                width: 33vw;
                padding: 18px 12px;
                border: 1px solid rgb(81, 157, 209);
                border-radius: 5px;
                background-color: rgb(244, 250, 255);
                .item {
                  font-size: 14px;
                  font-family: system-ui, -apple-system, BlinkMacSystemFont,
                    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
                    "Helvetica Neue", sans-serif;
                }
              }
            }
          }
        }
        .right {
          margin-top: 20px;
          .container-right {
            .basket-info {
              width: 27vw;
              .info {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 10px;
              }
              .info-total {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .total-left {
                  font-size: 16px;
                  font-weight: 600;
                }
                .total-right {
                  .usd {
                    color: rgb(0 0 0 / 56%);
                    font-size: 11px;
                    margin-right: 10px;
                  }
                  .price {
                    font-size: 16px;
                    font-weight: 600;
                  }
                }
              }
            }
          }
        }
      }
      .order-button {
        margin-top: 30px;
        button {
          border-radius: 6px;
          background-color: rgb(25, 123, 189);
          width: 33vw;
          padding: 18px 50px;
          border: none;
          font-size: 17px;
          color: #fff;
          cursor: pointer;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .checkout {
    .wrapper-checkout {
      .checkout-container {
        .checkout-content {
          display: block;

          .left {
            width: 90vw;
            .left-container {
              form {
                width: 100vw;
                .region-input {
                  width: 90vw;
                }
                .user-inputs {
                  input {
                    width: 44vw;
                  }
                }
                .address-input {
                  width: 90vw;
                }
              }
              .payment {
                .cash {
                  width: 90vw;
                }
              }
            }
          }
          .right {
            .container-right {
              .basket-items {
                .basket-item {
                  width: 90vw;
                }
              }
              .basket-info {
                .info-total {
                  width: 90vw;
                }
              }
            }
          }
        }
        .order-button {
          button {
            width: 90vw;
          }
        }
      }
    }
  }
}
