.new-collection-testimonials {
  background-color: #ffffff;
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  .container {
    width: 80vw;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    .new-collection {
      width: 50vw;
      position: relative;

      .new-collection-content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 70px;
        padding: 10px;
        h2 {
          font-size: 36px;
          color: #383838;
          line-height: 48px;
          letter-spacing: 0.5px;
          margin-bottom: 30px;
          font-family: Arimo, sans-serif;
          font-style: normal;
          font-weight: 400;
        }
        .new-collection-btn {
          &:hover {
            background-color: #26c6d0;
            color: #ffffff;
          }
          text-decoration: none;
          background-color: #454545;
          color: #ffffff;
          border-radius: 5px;
          font-size: 13px;
          letter-spacing: 2.5px;
          padding: 14px 30px 15px;
          text-transform: uppercase;
          transition: all 0.3s ease 0s;
          font-weight: 600;
        }
      }
    }
    .testimonials {
      background-color: #383838;
      padding: 75px 71px 80px;
      text-align: center;
      width: 500px;
      height: 489px;
      .section-title {
        text-align: center;
        h2 {
          &::before {
            background-color: #fff;
            bottom: 0;
            content: "";
            height: 2px;
            left: 0;
            margin: 0 auto;
            position: absolute;
            right: 0;
            transition: all 0.4s ease 0s;
            width: 45%;
          }
          color: #ffffff;
          font-size: 22px;
          font-weight: 700;
          padding-bottom: 19px;
          position: relative;
          text-transform: uppercase;
        }
      }
      .swiper-testimonials {
        .swiper-elements {
          .swiper-wrapper {
            width: 30vw;
            .slide {
              p {
                margin-top: 36px;
                color: #fff;
                font-size: 15px;
                letter-spacing: 0.2px;
                font-weight: 400;
                line-height: 24px;
                font-family: Arimo, sans-serif;
              }
              h4 {
                &::before {
                  background-color: #565656;
                  top: 0;
                  content: "";
                  height: 1px;
                  left: 0;
                  margin: 0 auto;
                  position: absolute;
                  right: 0;
                  transition: all 0.4s ease 0s;
                  width: 102px;
                }
                color: #fff;
                font-size: 14px;
                letter-spacing: 0.3px;
                margin-top: 28px;
                padding-top: 30px;
                position: relative;
                text-transform: uppercase;
                margin-bottom: 45px;
                line-height: 1.2;
              }
            }
          }
          .swiper-button-next {
          }
          .swiper-button-prev {
          }
        }
      }
    }
  }
}
