.banner-card {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  .container {
    width: 90vw;
    position: relative;

    img {
      width: 20%;
    }
    .banner-content {
      left: 22px;
      padding: 10px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      h4 {
        color: #444444;
        font-size: 22px;
        font-weight: 700;
        letter-spacing: 0.2px;
        line-height: 28px;
        margin: 0;
        transition: all 0.3s ease 0s;
      }
    }
  }
}
