.not-found-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;

  h1 {
    font-size: 2em;
    color: #ff0000;
    margin-bottom: 20px;
  }

  button {
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 1em;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #0056b3;
    }
  }
}
